@import "compass/reset"

$dark-blue: #172641
$light-blue: #0074be
$light-gray: #cccccc
$light-black: #353535

$login-button-blue-top: #2d8edb
$login-button-blue-bottom: #1c5988

=stylish-button
  font-family: 'Open Sans', Arial, sans-serif
  font-size: 20px
  background-color: #187bda
  padding: 12px 40px

  border: 0
  border-radius: 5px

  color: white

  cursor: pointer

  +transition(top 200ms)

html
  font-size: 16px
  color: #2f2f2f

p
  font-family: 'Open Sans', Arial, sans-serif
  font-size: 16px
  font-size: 1rem
