@import 'public-common'

body
  background-image: image-url('textures/texture1.png')

  .mast-head
    background-color: white
    background-image: image-url('secondary-page-boat.jpg')
    background-position: top center
    background-repeat: no-repeat

    h3
      margin-top: 50px

#content
  padding-bottom: 86px

  p
    padding-bottom: 20px

    a
      color: #2F2F2F

  ul
    list-style: disc
    margin-left: 30px
    padding-bottom: 20px

    li
      font-size: 14px
      font-size: 1rem

      line-height: 24px
      line-height: 1.75rem

      font-family: 'Open Sans', 'Arial', sans-serif
