@import "compass/css3/transition"

#anchor-tab
  position: fixed
  bottom: -75px
  right: 0
  left: 0

  text-align: center

  padding: 6px 0

  +transition(bottom 800ms)

  &.red
    background-color: red

  &.blue
    background-color: blue

  &.visible
    bottom: 0

  > p
    margin: 4px 4px
    display: inline-block
